<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file">
    <button type="submit">上传</button>
</form>
<div>
    <textarea cols="80" rows="1" th:text="${message}"></textarea>
</div>

<p><button id="parse">解析</button></p>
<div>
    <p>分析结果</p>
    <textarea id="tx" cols="80" rows="4"></textarea>
</div>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
</script>
<script>
        $(document).ready(function(){
            $("#parse").click(function(){
                $.post("/parse",function(data,status){
                    $("#tx").text(data);
                });
            });
        });
</script>
</body>
</html>