<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file">
    <button type="submit">上传</button>
</form>
<div>
    <textarea cols="80" rows="1" th:text="${message}"></textarea>
</div>
<form action="/parse" method="post" enctype="multipart/form-data">
    <button type="submit">解析</button>
</form>
<div>
    <p>分析结果</p>
    <textarea cols="80" rows="4" th:text="${result}"></textarea>
</div>
</body>
</html>